# INSTRUCTIONS

Read the instructions metioned below carefully before attempting the assignment:

    - This assignment has 12 questions and all the questions are mandatory.
    - Read the desciption of the dataset mentioned below carefully.
    - Each question has been commented and written in an independent cell.
    - Write your code in the cell just below the question (Refer Ques-1 - It has been solved for you to understand)
    - Try to submit the assignment within the deadline.
    - Plagiarism will have a huge penality.
    - After completing the assignment upload this notebook to your github and submit the assignment on Google Classroom.
    
    
##### Download the Dataset file(.csv) from here:

https://drive.google.com/file/d/146KzhkfeuzDigbOjaZ1nkTpAHzp7TATz/view?usp=sharing


# COVID19 India dataset

### Description

Title of dataset: covid19india.csv

Sources:

    * A crowdsourced initiative - covid19india.org
    * Date received - 19/07/2020 
    
Number of Instances/Rows

    * Total Number of Rows = 381

Number of Attributes/Fearures/Columns

    * 2 Object, 39 Numerical attributes. 

Attribute Information/Fearures/Columns

    * date: Object Type
    * Status: Confirmed, Recovered, Deceased
    * Below mentioned are remaining 38 columns representing States and UT of India
    
    State 
    Maharashtra, Tamil Nadu, Delhi, Gujarat, Karnataka, Uttar Pradesh, Telangana, Andhra Pradesh, West Bengal, Rajasthan, Haryana, Bihar, Madhya Pradesh, Assam, Odisha, Jammu and Kashmir, Punjab, Kerala, Chhattisgarh, Jharkhand, Uttarakhand, Goa, State Unassigned, Tripura, Manipur, Puducherry, Himachal Pradesh, Ladakh, Nagaland, Chandigarh, Dadra and Nagar Haveli and Daman and Diu, Arunachal Pradesh, Meghalaya, Mizoram, Andaman and Nicobar Islands, Sikkim, Lakshadweep                       
    
    State_code
    MH, TN, DL, GJ, KA, UP, TG, AP, WB, RJ, HR, BR, MP, AS, OR, JK, PB, KL, CT, JH, UT, GA, UN, TR, MN, PY, HP, LA, NL, CH, DN, AR, ML, MZ, AN, SK, LD

In [3]:
# Q1 - Import the required Library (Sample question and answer)

import numpy as np
import pandas as pd

In [8]:
# Q2 - Read the csv file to the pandas dataframe
df= pd.read_csv('covid19india.csv')
print(df)

          date     status  an    ap  ar    as    br  ch   ct  dd  ...   py  \
0    14-Mar-20  Confirmed   0     1   0     0     0   0    0   0  ...    0
1    14-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
2    14-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
3    15-Mar-20  Confirmed   0     0   0     0     0   0    0   0  ...    0
4    15-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
5    15-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
6    16-Mar-20  Confirmed   0     0   0     0     0   0    0   0  ...    1
7    16-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
8    16-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
9    17-Mar-20  Confirmed   0     0   0     0     0   0    0   0  ...    0
10   17-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
11   17-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
12   18-Mar-20  Confirmed   0     0   0     0     0   0    0   0  ...    0
13   18-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
14   18-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
15   19-Mar-20  Confirmed   0     2   0     0     0   1    1   0  ...    0
16   19-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
17   19-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
18   20-Mar-20  Confirmed   0     0   0     0     0   4    0   0  ...    0
19   20-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
20   20-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
21   21-Mar-20  Confirmed   0     2   0     0     0   0    0   0  ...    0
22   21-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
23   21-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
24   22-Mar-20  Confirmed   0     1   0     0     2   1    0   0  ...    0
25   22-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
26   22-Mar-20   Deceased   0     0   0     0     1   0    0   0  ...    0
27   23-Mar-20  Confirmed   0     1   0     0     1   1    0   0  ...    0
28   23-Mar-20  Recovered   0     0   0     0     0   0    0   0  ...    0
29   23-Mar-20   Deceased   0     0   0     0     0   0    0   0  ...    0
..         ...        ...  ..   ...  ..   ...   ...  ..  ...  ..  ...  ...
351  09-Jul-20  Confirmed   7  1555  15   568   704  16  140   0  ...   49
352  09-Jul-20  Recovered   9  1053  11   421   251   1   68   0  ...   35
353  09-Jul-20   Deceased   0    13   0     5     9   0    1   0  ...    2
354  10-Jul-20  Confirmed   0  1608  33   936   352  13  166   0  ...   72
355  10-Jul-20  Recovered   9  1040   0   701   459   5  125   0  ...   18
356  10-Jul-20   Deceased   0    15   0     8     2   0    2   0  ...    1
357  11-Jul-20  Confirmed   0  1813   6   535   709  13   65   0  ...   65
358  11-Jul-20  Recovered   0  1199   5   578   740   5   42   0  ...   53
359  11-Jul-20   Deceased   0    17   0     2     7   1    0   0  ...    1
360  12-Jul-20  Confirmed   7  1933  19   735  1266  10  184   0  ...   81
361  12-Jul-20  Recovered   8  1019  13   468   962   4   83   0  ...   49
362  12-Jul-20   Deceased   0    19   0     4     7   0    2   0  ...    0
363  13-Jul-20  Confirmed   3  1935  27  1001  1116  29  184   0  ...   50
364  13-Jul-20  Recovered   9  1052   7   522   411   6   49   0  ...   46
365  13-Jul-20   Deceased   0    37   1     4     9   0    0   0  ...    0
366  14-Jul-20  Confirmed   5  1916  75   859  1432  12  114   0  ...   63
367  14-Jul-20  Recovered  20  1003   8   757   655  23   73   0  ...   44
368  14-Jul-20   Deceased   0    43   0     6     9   2    1   0  ...    0
369  15-Jul-20  Confirmed   5  2432  29  1088  1320  19  177   0  ...   65
370  15-Jul-20  Recovered   1   911   0   715   514  13   49   0  ...   60
371  15-Jul-20   Deceased   0    44   0     2    14   1    0   0  ...    3
372  16-Jul-20  Confirmed   4  2593  52   892  1385  16  198   0  ...  147
373  16-Jul-20  Recovered   3  1015   0   666   568  17  127   0  ...   58
374  16-Jul-20   Deceased   0    40   0     2    10   0    1   0  ...    1
375  17-Jul-20  Confirmed   0  2602  66  1218  1742  25  249   0  ...   89
376  17-Jul-20  Recovered   0   905  22   551   896   4   61   0  ...   67
377  17-Jul-20   Deceased   0    42   0     1     6   0    3   0  ...    3
378  18-Jul-20  Confirmed   0  3963  41  1117  1667  31  243   0  ...   58
379  18-Jul-20  Recovered   0  1465  99  1060   774   5  146   0  ...   48
380  18-Jul-20   Deceased   0    52   0     2     4   1    0   0  ...    3

      rj  sk    tg    tn   tr   un    up   ut    wb
0      3   0     1     1    0    0    12    0     0
1      1   0     0     0    0    0     4    0     0
2      0   0     0     0    0    0     0    0     0
3      1   0     2     0    0    0     1    0     0
4      2   0     1     0    0    0     0    0     0
5      0   0     0     0    0    0     0    0     0
6      0   0     1     0    0    0     0    1     0
7      0   0     0     1    0    0     0    0     0
8      0   0     0     0    0    0     0    0     0
9      0   0     1     0    0    0     2    0     1
10     0   0     0     0    0    0     1    0     0
11     0   0     0     0    0    0     0    0     0
12     3   0     8     1    0    0     2    1     0
13     0   0     0     0    0    0     0    0     0
14     0   0     0     0    0    0     0    0     0
15     2   0     3     1    0    0     3    1     0
16     0   0     0     0    0    0     4    0     0
17     0   0     0     0    0    0     0    0     0
18     8   0     3     0    0    0     4    0     1
19     0   0     0     0    0    0     0    0     0
20     0   0     0     0    0    0     0    0     0
21     7   0     2     3    0    0     4    0     2
22     0   0     0     0    0    0     0    0     0
23     0   0     0     0    0    0     0    0     0
24     4   0     6     3    0    0     2    0     3
25     0   0     0     0    0    0     0    0     0
26     0   0     0     0    0    0     0    0     0
27     4   0     6     3    0    0     2    1     0
28     0   0     0     0    0    0     0    0     0
29     0   0     0     0    0    0     0    0     1
..   ...  ..   ...   ...  ...  ...   ...  ...   ...
351  500   1  1410  4231   16 -633  1206   47  1088
352  204   0   913  3994   14    0   796   22   535
353    9   0     7    65    0    0    17    0    27
354  611   0  1278  3680  142 -224  1338   68  1198
355  550   9  1013  4163   34    0   660   34   522
356    6   0     8    64    0    0    27    0    26
357  574  26  1178  3965   31 -745  1392   44  1344
358  249   0  1714  3591    3    0   902   12   611
359    6   0     9    69    1    0    24    0    26
360  644   4  1269  4244  105 -392  1384  120  1560
361  234   1  1563  3617   46    0   645   68   622
362    7   0     8    68    0    0    21    1    26
363  544   2  1550  4328   26 -666  1654   71  1435
364  527   6  1197  3035   54    0   869   70   632
365    8   0     9    66    0    0    21    2    24
366  635  45  1524  4526   90 -179  1594   78  1390
367  539  -1  1161  4743   63    0   778   11   718
368    6   0    10    67    0    0    28    1    24
369  866  11  1597  4496   98 -655  1659   99  1589
370  333   1  1159  5000   66    0   762   81   749
371    6   0    11    68    1    0    29    0    20
372  737  13  1676  4549   98 -239  2058  197  1690
373  468   0  1296  5106   33    0   932   47   735
374    8   0    10    69    0    0    34    0    23
375  615  32  1478  4538  118 -754  1722  120  1894
376  656   1  1410  3391   47    0   959   26   838
377    8   0     7    79    0    0    38    1    26
378  711  19  1284  4807  171 -368  1873  174  2198
379  518   2  1902  3049   51    0  1030   60  1286
380    7   0     6    88    2    0    24    1    27

[381 rows x 40 columns]

In [10]:
# Q3 - Display the top 5 rows of the dataframe
df.head()

,date,status,an,ap,ar,as,br,ch,ct,dd,...,py,rj,sk,tg,tn,tr,un,up,ut,wb
0,14-Mar-20,Confirmed,0,1,0,0,0,0,0,0,...,0,3,0,1,1,0,0,12,0,0
1,14-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,4,0,0
2,14-Mar-20,Deceased,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,15-Mar-20,Confirmed,0,0,0,0,0,0,0,0,...,0,1,0,2,0,0,0,1,0,0
4,15-Mar-20,Recovered,0,0,0,0,0,0,0,0,...,0,2,0,1,0,0,0,0,0,0

In [11]:
# Q4 - Display the bottom 5 rows of the dataframe
df.tail()

,date,status,an,ap,ar,as,br,ch,ct,dd,...,py,rj,sk,tg,tn,tr,un,up,ut,wb
376,17-Jul-20,Recovered,0,905,22,551,896,4,61,0,...,67,656,1,1410,3391,47,0,959,26,838
377,17-Jul-20,Deceased,0,42,0,1,6,0,3,0,...,3,8,0,7,79,0,0,38,1,26
378,18-Jul-20,Confirmed,0,3963,41,1117,1667,31,243,0,...,58,711,19,1284,4807,171,-368,1873,174,2198
379,18-Jul-20,Recovered,0,1465,99,1060,774,5,146,0,...,48,518,2,1902,3049,51,0,1030,60,1286
380,18-Jul-20,Deceased,0,52,0,2,4,1,0,0,...,3,7,0,6,88,2,0,24,1,27

In [15]:
# Q5 - How many columns and rows are there in the dataframe?
print(df.shape)

# there are '381' rows and '40' columns in the dataframe

(381, 40)

In [17]:
# Q6 - Display a breif overview of all the columns data type and missing values?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381 entries, 0 to 380
Data columns (total 40 columns):
date      381 non-null object
status    381 non-null object
an        381 non-null int64
ap        381 non-null int64
ar        381 non-null int64
as        381 non-null int64
br        381 non-null int64
ch        381 non-null int64
ct        381 non-null int64
dd        381 non-null int64
dl        381 non-null int64
dn        381 non-null int64
ga        381 non-null int64
gj        381 non-null int64
hp        381 non-null int64
hr        381 non-null int64
jh        381 non-null int64
jk        381 non-null int64
ka        381 non-null int64
kl        381 non-null int64
la        381 non-null int64
ld        381 non-null int64
mh        381 non-null int64
ml        381 non-null int64
mn        381 non-null int64
mp        381 non-null int64
mz        381 non-null int64
nl        381 non-null int64
or        381 non-null int64
pb        381 non-null int64
py        381 non-null int64
rj        381 non-null int64
sk        381 non-null int64
tg        381 non-null int64
tn        381 non-null int64
tr        381 non-null int64
un        381 non-null int64
up        381 non-null int64
ut        381 non-null int64
wb        381 non-null int64
dtypes: int64(38), object(2)
memory usage: 119.1+ KB

In [54]:
# Q7 - Display the descriptive statistical analysis on numerical columns of the dataframe?

df.describe()

,an,ap,ar,as,br,ch,ct,dd,dl,dn,...,rj,sk,tg,tn,tr,un,up,ut,wb,total
count,381.000000,381.000000,381.000000,381.000000,381.000000,381.00000,381.000000,381.0,381.000000,381.000000,...,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000,381.000000
mean,0.821522,175.742782,2.433071,100.007874,107.388451,3.11811,23.433071,0.0,594.364829,2.868766,...,131.750656,0.989501,196.314961,740.086614,11.569554,0.427822,201.595801,19.446194,170.141732,28066.566929
std,2.422408,436.279518,9.113256,219.505910,235.197288,7.27101,44.647613,0.0,1027.573886,7.553918,...,169.953688,4.626570,443.763249,1263.481723,26.517988,204.755665,337.816167,36.746792,314.410201,44772.764923
min,0.000000,0.000000,0.000000,-1.000000,0.000000,0.00000,0.000000,0.0,0.000000,0.000000,...,0.000000,-1.000000,0.000000,0.000000,-2.000000,-1295.000000,0.000000,0.000000,-19.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.0,4.000000,0.000000,...,4.000000,0.000000,2.000000,3.000000,0.000000,0.000000,4.000000,0.000000,3.000000,624.000000
50%,0.000000,25.000000,0.000000,0.000000,5.000000,0.00000,0.000000,0.0,67.000000,0.000000,...,42.000000,0.000000,10.000000,63.000000,0.000000,0.000000,30.000000,1.000000,18.000000,3654.000000
75%,0.000000,97.000000,0.000000,79.000000,146.000000,4.00000,28.000000,0.0,504.000000,0.000000,...,236.000000,0.000000,72.000000,817.000000,8.000000,0.000000,260.000000,25.000000,188.000000,37650.000000
max,20.000000,3963.000000,99.000000,1218.000000,1742.000000,79.00000,249.000000,0.0,7725.000000,50.000000,...,866.000000,50.000000,2078.000000,5106.000000,171.000000,1043.000000,2058.000000,216.000000,2198.000000,224442.000000

In [107]:
# Q8 - What were the number of confirmed cases in Rajasthan on 1st July 2020?
df.loc[(df['date']=='01-Jul-20') & (df['status']=='Confirmed'),'rj']

#the total confirmed cases in Rajasthan on 1st July 2020 were '304'

327    304
Name: rj, dtype: int64

In [126]:
# Q9 - What is the number of Deceased cases on 18th July 2020?
t=df.loc[ (df['date']=='18-Jul-20') & (df['status']=='Deceased')]
print(t.sum(axis=1).values)

[5973]

In [66]:
# Q10 - Create a new column 'total'. Values in this column is supposed to contain the sum of corresponding row.
df['total']=df.sum(axis=1)
print(df[['date','status','total']])

          date     status   total
0    14-Mar-20  Confirmed     810
1    14-Mar-20  Recovered      90
2    14-Mar-20   Deceased      20
3    15-Mar-20  Confirmed     270
4    15-Mar-20  Recovered      40
5    15-Mar-20   Deceased       0
6    16-Mar-20  Confirmed     150
7    16-Mar-20  Recovered      10
8    16-Mar-20   Deceased       0
9    17-Mar-20  Confirmed     110
10   17-Mar-20  Recovered      10
11   17-Mar-20   Deceased      10
12   18-Mar-20  Confirmed     370
13   18-Mar-20  Recovered       0
14   18-Mar-20   Deceased       0
15   19-Mar-20  Confirmed     270
16   19-Mar-20  Recovered      50
17   19-Mar-20   Deceased      10
18   20-Mar-20  Confirmed     580
19   20-Mar-20  Recovered      30
20   20-Mar-20   Deceased       0
21   21-Mar-20  Confirmed     780
22   21-Mar-20  Recovered       0
23   21-Mar-20   Deceased       0
24   22-Mar-20  Confirmed     670
25   22-Mar-20  Recovered       0
26   22-Mar-20   Deceased      30
27   23-Mar-20  Confirmed    1020
28   23-Mar-20  Recovered     120
29   23-Mar-20   Deceased      20
..         ...        ...     ...
351  09-Jul-20  Confirmed  257900
352  09-Jul-20  Recovered  194080
353  09-Jul-20   Deceased    4790
354  10-Jul-20  Confirmed  277620
355  10-Jul-20  Recovered  202890
356  10-Jul-20   Deceased    5200
357  11-Jul-20  Confirmed  277570
358  11-Jul-20  Recovered  199810
359  11-Jul-20   Deceased    5430
360  12-Jul-20  Confirmed  291060
361  12-Jul-20  Recovered  181980
362  12-Jul-20   Deceased    5000
363  13-Jul-20  Confirmed  281780
364  13-Jul-20  Recovered  176830
365  13-Jul-20   Deceased    5410
366  14-Jul-20  Confirmed  299170
367  14-Jul-20  Recovered  209770
368  14-Jul-20   Deceased    5870
369  15-Jul-20  Confirmed  326070
370  15-Jul-20  Recovered  206460
371  15-Jul-20   Deceased    6140
372  16-Jul-20  Confirmed  354680
373  16-Jul-20  Recovered  228670
374  16-Jul-20   Deceased    6800
375  17-Jul-20  Confirmed  348200
376  17-Jul-20  Recovered  174760
377  17-Jul-20   Deceased    6760
378  18-Jul-20  Confirmed  374070
379  18-Jul-20  Recovered  235520
380  18-Jul-20   Deceased    5430

[381 rows x 3 columns]

In [84]:
# Q11 - Group by on 'Status' column and display first.
grp_df=df.groupby('status')
print(grp_df.first())

                date  an  ap  ar  as  br  ch  ct  dd  dl  ...  rj  sk  tg  tn  \
status                                                    ...
Confirmed  14-Mar-20   0   1   0   0   0   0   0   0   7  ...   3   0   1   1
Deceased   14-Mar-20   0   0   0   0   0   0   0   0   1  ...   0   0   0   0
Recovered  14-Mar-20   0   0   0   0   0   0   0   0   1  ...   1   0   0   0

           tr  un  up  ut  wb  total
status
Confirmed   0   0  12   0   0    810
Deceased    0   0   0   0   0     20
Recovered   0   0   4   0   0     90

[3 rows x 40 columns]

In [71]:
# Q12 - Display the overall basic statistical analysis of Rajasthan for different status
# (confirmed, recovered and deceased)
print(grp_df['rj'].describe())

           count        mean         std  min   25%    50%    75%    max
status
Confirmed  127.0  224.409449  191.507858  0.0  76.5  210.0  304.5  866.0
Deceased   127.0    4.354331    3.680768  0.0   1.0    4.0    7.0   17.0
Recovered  127.0  166.488189  155.543383  0.0  17.0  126.0  276.0  656.0